.button_icon {
    width: 25px;
    height: 25px;
    display: block;
    padding: 0;
    border: 0;
    margin: 0;
}


.close {
    background-color: rgba(0, 0, 0, 0);
    background-image: url(/icon_close.png);
    background-repeat: no-repeat;
    background-size: 25px;
}